@import url(./vendors/font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600");

@import url(./utils/variables.css);

@import url(./base/mobile.css);

@import url(./base/reset.css);
@import url(./base/typography.css);

@import url(./components/banner.css);
@import url(./components/buttons.css);
@import url(./components/copyright.css);
@import url(./components/cta.css);
@import url(./components/footer.css);
@import url(./components/heading.css);
@import url(./components/highlights.css);
@import url(./components/icons.css);
@import url(./components/images.css);
@import url(./components/inputs.css);
@import url(./components/lists.css);
@import url(./components/main.css);
@import url(./components/menu.css);
@import url(./components/header.css);
@import url(./components/tables.css);

@import url(./pages/sobre.css);

/* Externos */
@import url(./vendors/accordion.css);


.inner
{
  margin: 0 auto;
  width: 75vw;
}
.wrapper
{
  padding: 5rem 0 3rem 0;
  position: relative;
  z-index: 1;
}
.testimonials
{
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025);
  

  display: flex;
  overflow: auto;
}
.container {
  position: relative;
  text-align: center;
  color: rgba(255,255,255,0.8);

  height: 30rem;
  width: 20rem;

  margin-right: 2.5rem;
}
.container img
{
  border-radius: 4px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.credit
{
  font-size: 0.75rem;
}
.testimonials .content .credit strong
{
  color: #300684;
}


body:before {
  content: ' ';
  background-image: url(../../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.05; }

.actions {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center; }
  .actions > a{
    max-width: 50%;
    flex: 1;
    margin-top: 0.2rem;
    margin-right: 0.1rem;
  }
  .actions > a:last-child{
    margin-right: 0;
  }

.content .actions .icon{
  font-size: 1rem;
}
.content .actions .icon::before{
  font-size: 1.25rem;
}


#by a{
  width: 0rem;
}
#by
{
  display: flex;
  align-items: center;
}
#by h2{
  margin-right: 5rem;
  padding: 0;
}
#dni
{
  background-color: #4D2559;
  border-radius: 1rem 5rem;
  max-width: 50%;
  min-width: 200px;
  padding: 2rem;
  cursor: pointer;
}


@media screen and (max-width: 580px){
  #by{
    display: block;
    text-align: center;
  }
  #by h2{
    margin-right: 0;
  }

}